.container-card {
    display: flex;
    grid-template-columns: repeat(auto-fir, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
}

.iniciativas-card a {
    text-decoration: none;
    color: #000;
}

.inicio-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img img {
    max-width: 100%;
    border-radius: .3125rem;
}

.card-text h2, h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.iniciativas-relacionadas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iniciativas-card {
    margin: .625rem;
    max-width: 21.25rem;
    height: 19.375rem;
    padding: .9375rem;
    background-image: url(../img/card/cardMASTER.png);
    border-radius: .3125rem;
    
    transition: transform 0.1s ease-in-out;
}

.iniciativas-card img {
    border-radius: .3125rem;
}

.iniciativas-card:hover {
    transform: scale(1.1);
}