@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

html, body {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
}

.layout-pag {
  background-color: #fffdf3;
  background: linear-gradient(180deg, #fffdf3 62%, #dda15e 100%);
}

.introducao  {
   margin-top: .3125rem;
   margin-right: 14.375rem;
   margin-bottom: .9375rem;
   margin-left: 13.125rem;
   line-height: 2.1875rem;
}

.introducao h1 {
  text-align: center;
}

.relative {
  background-color: #fff;
}

.cite ol li {
  line-height: 2rem;
}

.btn {
    margin-left: 200px;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    background-color: #F7F7F7;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
  }
  
  .btn img {
    max-width: 100%; 
    height: 20px;
    margin-right: 5px;
  }
  
  .btn span {
    font-size: 16px;
    font-weight: bold;
  }
  
  .linha {
    border-top: .3125rem solid #009739;
    margin: .4375rem 0;
  }

  .linha-nav {
    border-top: .1875rem solid #009739;
    margin: 1px 0;
  }

  .navbar {
    display: flex;
    padding: 10px;
    font-size: 23px;
    justify-content: center;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 30px;
  }

.nav-link a {
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid transparent;
    padding: 30px;
}

.nav-link a:hover {
    border-bottom: 5px solid #009739;
}

@media only screen and (max-width: 767px) {
  .introducao {
    margin: 0.3125rem;
    line-height: 1.5rem;
    font-size: .75rem;
  }

  .introducao h1 {
    text-align: left;
    font-size: 1.4375rem;
  }
}